.banner-content {
  height: 250px;
  color: white;
  text-align: center;
}

.banner {
  margin-bottom: 20px;
}

h2 {
  font-size: 70px;
  font-weight: 600px;

}

#header {
  position: relative;
  top: 170px;
}


.row {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ingredients {
  color: black;
}

.delete {
  background-color: #ffadb5;
  height: 20px;
  width: 70px;
  color: green;
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
  margin: auto;
  border-radius: 4px;
}


