    <div class="col-xs-12 col-sm-6">
     <div class="card">
       <div class="card-head">
       <%= cocktail.name %>
       </div>
       <div class="card-footer">
         <div class="ingredients">
           <p>Number of ingredietns:</p>
           <p>#<%= @cocktails.find(cocktail.id).ingredients.count %></p>
         </div>
         <div class="actions">
         </div>
       </div>
     </div>
   </div>
