<div class="col-xs-12 col-sm-6">
 <div class="card">
   <div class="card-head">
     <p>Gin Tonic</p>
   </div>
   <div class="card-footer">
     <div class="ingredients"></div>
     <div class="actions"></div>
   </div>
 </div>
</div>
